services:
  gravity-frontend-dev:
    profiles:
      - dev
    image: ghcr.io/tyemirov/ghttp:latest
    pull_policy: always
    depends_on:
      gravity-backend-dev:
        condition: service_started
      tauth-dev:
        condition: service_started
    working_dir: /srv/gravity/frontend
    command: ["--directory", "/srv/gravity/frontend", "8000"]
    volumes:
      - .:/srv/gravity:ro
    ports:
      - "8000:8000"
    restart: unless-stopped

  gravity-frontend-docker:
    profiles:
      - docker
    image: ghcr.io/tyemirov/ghttp:latest
    pull_policy: always
    depends_on:
      gravity-backend-docker:
        condition: service_started
      tauth-docker:
        condition: service_started
    working_dir: /srv/gravity/frontend
    command: ["--directory", "/srv/gravity/frontend", "8000"]
    volumes:
      - .:/srv/gravity:ro
    ports:
      - "8000:8000"
    restart: unless-stopped

  gravity-backend-dev:
    profiles:
      - dev
    build:
      context: backend
      dockerfile: Dockerfile
    env_file:
      - .env.gravity
    depends_on:
      tauth-dev:
        condition: service_started
    ports:
      - "8080:8080"
    volumes:
      - gravity_data:/data
    restart: unless-stopped

  gravity-backend-docker:
    profiles:
      - docker
    image: ghcr.io/marcopoloresearchlab/gravity-backend:latest
    pull_policy: always
    env_file:
      - .env.gravity
    depends_on:
      tauth-docker:
        condition: service_started
    ports:
      - "8080:8080"
    volumes:
      - gravity_data:/data
    restart: unless-stopped

  tauth-dev:
    profiles:
      - dev
    image: ghcr.io/tyemirov/tauth:latest
    pull_policy: always
    env_file:
      - .env.tauth
    ports:
      - "8082:8080"
    volumes:
      - tauth_data:/data
    restart: unless-stopped

  tauth-docker:
    profiles:
      - docker
    image: ghcr.io/tyemirov/tauth:latest
    pull_policy: always
    env_file:
      - .env.tauth
    ports:
      - "8082:8080"
    volumes:
      - tauth_data:/data
    restart: unless-stopped

volumes:
  gravity_data:
  tauth_data:
