services:
  gravity-frontend-dev:
    profiles:
      - dev
    image: ghcr.io/tyemirov/ghttp:latest
    pull_policy: always
    depends_on:
      gravity-backend-dev:
        condition: service_started
      gravity-tauth:
        condition: service_started
    env_file:
      - .env.ghttp
    volumes:
      - .:/srv/gravity:ro
      - /media/share/Drive/exchange/certs/computercat:/certs:ro
    ports:
      - "4443:8443"
    restart: unless-stopped

  gravity-frontend-docker:
    profiles:
      - docker
    image: ghcr.io/tyemirov/ghttp:latest
    pull_policy: always
    depends_on:
      gravity-backend-docker:
        condition: service_started
      gravity-tauth:
        condition: service_started
    env_file:
      - .env.ghttp
    volumes:
      - .:/srv/gravity:ro
      - /media/share/Drive/exchange/certs/computercat:/certs:ro
    ports:
      - "4443:8443"
    restart: unless-stopped

  gravity-backend-dev:
    profiles:
      - dev
    build:
      context: backend
      dockerfile: Dockerfile
    env_file:
      - .env.gravity
    depends_on:
      gravity-tauth:
        condition: service_started
    ports:
      - "8080:8080"
    volumes:
      - gravity_data:/data
    restart: unless-stopped

  gravity-backend-docker:
    profiles:
      - docker
    image: ghcr.io/marcopoloresearchlab/gravity-backend:latest
    pull_policy: always
    env_file:
      - .env.gravity
    depends_on:
      gravity-tauth:
        condition: service_started
    ports:
      - "8080:8080"
    volumes:
      - gravity_data:/data
    restart: unless-stopped

  gravity-tauth:
    profiles:
      - docker
      - dev
    image: ghcr.io/tyemirov/tauth:latest
    pull_policy: always
    env_file:
      - .env.tauth
    ports:
      - "8082:8082"
    volumes:
      - tauth_data:/data
      - ./config.tauth.yml:/config/config.yml:ro
    restart: unless-stopped

volumes:
  gravity_data:
  tauth_data:
