services:
  frontend:
    image: ghcr.io/temirov/ghttp:latest
    depends_on:
      - backend
      - tauth
    working_dir: /srv/gravity/frontend
    command: ["--directory", "/srv/gravity/frontend", "8000"]
    volumes:
      - .:/srv/gravity:ro
    ports:
      - "8000:8000"
    restart: unless-stopped

  backend:
    image: ghcr.io/marcopoloresearchlab/gravity-backend:latest
    pull_policy: always
    depends_on:
      - tauth
    env_file:
      - backend/.env
    ports:
      - "8080:8080"
    volumes:
      - gravity_data:/data
    restart: unless-stopped

  tauth:
    image: ghcr.io/tyemirov/tauth:latest
    pull_policy: always
    env_file:
      - tauth/.env
    ports:
      - "8082:8080"
    volumes:
      - tauth_data:/data
    restart: unless-stopped

volumes:
  gravity_data:
  tauth_data:
